<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Rohie Kernel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f7ae2f">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
<body onload="loadBaffle()">
    <script src="assets/js/baffle.js" type="text/javascript"></script>
    <script>
        function loadBaffle() {
            const b = baffle('.title', {
                characters: 'RohiniDas',
                speed: 90
            }).start().once().reveal(500, 500);
        }
    </script>
      <header class="page-header" role="banner">
      <h1 class="title">Rohie Kernel</h1>
      <h2 class="project-tagline">Kernel for Xiaomi SDM660</h2>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="fixed-bottom">
	  <center>
      <p>
        © 2018-2020, Manish4586<br> Powered by <a href="https://fonts.google.com" target="_blank">Google Fonts</a> and <a href="https://camwiegert.github.io/baffle/" target="_blank">Baffle</a>.<br>
      </p>
	  </center>
	  </footer>
    </main>
  </body>
</html>
