@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
a:link, a:visited {
    text-decoration: none;
}
a:link {
    color: #85317F;
}
a:visited {
    color: #c39570;
}
a:hover {
    text-decoration: underline;
}
a:active, a:hover {
    color: #98726c;
}
.page-header {
  color: #ffffff;
  text-align: center;
  background-color: #ffffff;
  background-image: linear-gradient(120deg, #00ffff, #3d0082);
}
body {
    background-color: #000000;
    color: white;
    font-size: 12pt;
    width: auto;
   padding: 0;
   margin: 0;
}
div {
    color: #98726c;
}
div-a {
    color: #cc666c;
}
* {
    font-family: "Comfortaa";
}

.heart {
  color: red;
  font-size: 22px;
}

.creditSection {
  margin-top: 20px;
}

.creditSection p {
  margin: 0;
}
.copyrightSection {
  background-color: #000000;
  color: #FFFFFF;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}
