@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
a:link, a:visited {
    text-decoration: none;
}
a:link {
    color: #85317F;
}
a:visited {
    color: #c39570;
}
a:hover {
    text-decoration: underline;
}
a:active, a:hover {
    color: #98726c;
}
.page-header {
  color: #ffffff;
  text-align: center;
  background-color: #ffffff;
  background-image: linear-gradient(120deg, #00ffff, #3d0082);
}
body {
    background-color: #000000;
    color: white;
    font-size: 12pt;
    width: auto;
   padding: 0;
   margin: 0;
}
div {
    color: #98726c;
}
div-a {
    color: #cc666c;
}
* {
    font-family: "Comfortaa";
}

.heart {
  color: red;
  font-size: 22px;
}

.creditSection {
  margin-top: 20px;
}

.creditSection p {
  margin: 0;
}
.copyrightSection {
  background-color: #000000;
  color: #FFFFFF;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

.rohi {
  text-decoration: none;
  font-weight: 600;
  transition: .4s;
}

.rohi {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.rohi:hover {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
  transition: .4s;
  text-decoration: none;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../../rohi/images/loader.gif) center center no-repeat;
}
